<div ng-controller="ViewAddWorkerCtrl as ctrl">
    <!--<section class="wrapper">-->
        <!--<div class="inner">-->
            <!--<header class="special">-->
                <!--<h2>Welcome!</h2>-->
                <!--<p>Menu</p>-->
            <!--</header>-->
            <!--<div class="highlights col-12-large">-->
                <!--<section>-->
                    <!--<div class="content">-->
                        <!--<header>-->
                            <!--<a href="#!/viewSign" class="icon fa-sign-in"><span class="label">Sign in</span></a>-->
                            <!--<h3>Sign in</h3>-->
                        <!--</header>-->
                    <!--</div>-->
                <!--</section>-->
                <!--<section>-->
                    <!--<div class="content">-->
                        <!--<header>-->
                            <!--<a href="#!/viewRegister" class="icon fa-registered"><span class="label">Register</span></a>-->
                            <!--<h3>Register</h3>-->
                        <!--</header>-->
                    <!--</div>-->
                <!--</section>-->
                <!--<section>-->
                    <!--<div class="content">-->
                        <!--<header>-->
                            <!--<a href="#!/viewMyAccount" class="icon fa-vcard"><span class="label">My account</span></a>-->
                            <!--<h3>My Account</h3>-->
                        <!--</header>-->
                    <!--</div>-->
                <!--</section>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
<h2>Add new worker</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Login</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="login" placeholder="Enter login" required
                       ng-model="ctrl.formWorker.login"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Password</label>
            <div class="col-sm-5">
                <input class="form-control" type="password" name="password" placeholder="Enter password" required
                       ng-model="ctrl.formWorker.password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">E-mail</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="email" placeholder="Enter email" required
                       ng-model="ctrl.formWorker.email">
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-3">
                <input class="mineButton form-control primary" type="button" ng-click="ctrl.sendToBackend()"
                       value="Register">
            </div>
        </div>
    </form>
</div>