<div ng-controller="ViewMyAccountCtrl as ctrl">
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Welcome {{ctrl.companyAccount.login}}!</h2>
                <p>Menu</p>
            </header>
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <a href="#!/viewWorkers" class="icon fa-list-ol"><span class="label">Workers</span></a>
                            <h3>Worker List</h3>
                        </header>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#!/viewAddWorker" class="icon fa-address-card"><span class="label">Add new Worker</span></a>
                            <h3>Add new Worker</h3>
                        </header>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="" class="icon fa-sign-out"><span class="label">Logout</span></a>
                            <h3>Logout</h3>
                        </header>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>