<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <a class="logo" href="#!/viewHome">E-pracownik</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul ng-if="!loggedIn" class="links">
        <li><a href="#!/viewHome">Home</a></li>
        <li><a href="#!/viewSign">Sign in</a></li>
        <li><a href="#!/viewRegister">Register</a></li>
        <li><a href="#!/viewMyAccount">My account</a></li>
    </ul>
    <ul ng-if="loggedIn" class="links">
        <li><a href="#!/viewWorkers">WorkerList</a></li>
        <li><a href="#!/viewAddWorker">Add new Worker</a></li>
        <li><a href="#!/viewMyAccount">My account</a></li>
        <li><a href="#!/viewLogout">Logout</a></li>
    </ul>
</nav>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<main role="main">
    <div class="container distanced-from-top">
        <div ng-view autoscroll="true"></div>
    </div>
</main>
<div>Angular seed app: v<span app-version></span></div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->


<footer id="footer">
    <section id="cta" class="wrapper">
        <div class="inner">
            <div class="content">
                <section>
                    <h3>Tomasz Wasylew</h3>
                    <h2>Junior Java Developer candidate</h2>
                    <p>Hi! Here is your candidate for junior java developer. I am an incurable optimist whose life has changed the course when he discovered his greatest passion - programming. I am an ambitious person who learn quickly and accurately doing the tasks entrusted to me.</p>
                </section>
                <section>
                    <h4>Useful links</h4>
                    <section class="plain">
                        <a href="https://www.linkedin.com/in/tomasz-wasylew-aa8b69153/"><i class="icon fa-linkedin">&nbsp;</i>Linkedin</a>
                        <a href="https://bitbucket.org/t_wasylew/"><i class="icon fa-github">&nbsp;</i>Github</a>
                        <a href="https://www.facebook.com/tomek.wasylew"><i class="icon fa-facebook">&nbsp;</i>Facebook</a>
                    </section>
                </section>
            </div>
            <div class="copyright">
                <small class="d-block mb-3 text-muted">Copyright © Tomasz Wasylew. All Rights Reserved</small>
            </div>
        </div>
    </section>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="viewRegister/viewRegister.js"></script>
<script src="viewWorkers/viewWorkers.js"></script>
<script src="viewHome/viewHome.js"></script>
<script src="viewSign/viewSign.js"></script>
<script src="viewMyAccount/viewMyAccount.js"></script>
<script src="viewAddWorker/viewAddWorker.js"></script>
<script src="viewWorkerAccount/viewWorkerAccount.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="services/loggedAccountService.js"></script>
<script src="services/passDataService.js"></script>
<script src="services/auth-service.js"></script>
</body>
</html>
