<div ng-controller="ViewHomeCtrl as ctrl">
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>E-pracownik</h1>
            <p>Simple webApplication to control your work time and expected salary<br />
                made by Tomasz Wasylew</p>
        </div>
        <video autoplay loop muted playsinline src="images/banner.mp4"></video>
    </section>

    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Welcome!</h2>
                <p>Menu</p>
            </header>
            <div class="highlights col-12-large">
                <section>
                    <div class="content">
                        <header>
                            <a href="#!/viewSign" class="icon fa-sign-in"><span class="label">Sign in</span></a>
                            <h3>Sign in</h3>
                        </header>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#!/viewRegister" class="icon fa-registered"><span class="label">Register</span></a>
                            <h3>Register</h3>
                        </header>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#!/viewMyAccount" class="icon fa-vcard"><span class="label">My account</span></a>
                            <h3>My Account</h3>
                        </header>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>