<div ng-controller="ViewSignCtrl as ctrl">
    <h1> Sign IN!</h1>
    <form  class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Login</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="login" placeholder="Enter login"  ng-model="ctrl.formUser.username" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Password</label>
            <div class="col-sm-5">
                <input class="form-control" type="password" name="password" placeholder="Enter your password"  ng-model="ctrl.formUser.password" required>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-offset-2 col-sm-10">
                <button type="submit" class="mineButton btn btn-default primary" ng-click="ctrl.authenticate()">Login</button>
                <button type="reset" class="mineButton btn btn-default">Reset</button>
            </div>
        </div>
    </form>
</div>