<div ng-controller="View1Ctrl as ctrl">
    <h1>Current user list</h1>

    <section>
        <div class="content">
            <table class="table-striped col-lg-12">
                <thead>
                <tr>
                    <th>
                        Identifier
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="element in ctrl.userList"
                    ng-class="ctrl.loggedInUser==element.id ? 'red-label' : '' ">
                    <td>{{element.id}}</td>
                    <td>{{element.login}}</td>
                    <td>{{element.email}}</td>
                </tr>
            </table>
        </div>
        <input ng-if="ctrl.currentPage > 0" class="mineButton form-control primary" type="button"
               ng-click="ctrl.fetchPrevious()" value="Previous">
        <input ng-if="ctrl.currentPage <= (ctrl.totalPages-1)" class="mineButton form-control primary"
               type="button" ng-click="ctrl.fetchNext()" value="Next">
    </section>

</div>