<div ng-controller="ViewRegisterCtrl as ctrl">
    <div class="">
        <div class="row form-inline">
            <i class="registerHeader fa fa-user-plus form-control"></i>
            <div class="col-md-6 form-group">
                <h1 class="form-control"> Register</h1>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Company Name</label>
                <div class="col-sm-5">
                    <input class="form-control" id="name" type="text" placeholder="Enter name" required
                           ng-model="ctrl.formUser.companyName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Login</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="login" placeholder="Enter login" required
                           ng-model="ctrl.formUser.login"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Password</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="password" placeholder="Enter password" required
                           ng-model="ctrl.formUser.password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">E-mail</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="email" placeholder="Enter email" required
                           ng-model="ctrl.formUser.email">
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-3">
                    <input class="mineButton form-control primary" type="button" ng-click="ctrl.sendToBackend()"
                           value="Register">
                </div>
            </div>
        </form>
    </div>
</div>
</div>