<div ng-controller="ViewWorkersCtrl as ctrl">
    <section>
        <div class="content table-wrapper">
            <table class="table-striped col-lg-12">
                <thead>
                <tr>
                    <th>
                        Identifier
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Worker Account
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="element in ctrl.workersList"
                    ng-class="ctrl.loggedInUser==element.id ? 'red-label' : '' ">
                    <td>{{element.id}}</td>
                    <td>{{element.login}}</td>
                    <td>{{element.email}}</td>
                    <td>
                    <div class="form-control">
                        <button class="btn  primary col-md-1" type="button" ng-click="ctrl.redirectToAccount(element.id)"><i
                                class="fa fa-edit fa-lg"></i>
                        </button>
                    </div>
                </td>
                    <td>
                            <div class="form-control">
                                <button class="btn  primary col-md-1" type="button" ng-click="ctrl.removeWorkers(element.id)"><i
                                        class="fa fa-trash-o fa-lg"></i>
                                </button>
                            </div>
                    </td>
                </tr>
            </table>
        </div>
        <input ng-if="ctrl.currentPage > 0" class="mineButton form-control primary" type="button"
               ng-click="ctrl.fetchPrevious()" value="Previous">
        <input ng-if="ctrl.currentPage <= (ctrl.totalPages-1)" class="mineButton form-control primary"
               type="button" ng-click="ctrl.fetchNext()" value="Next">
    </section>
</div>